/* ==============================================
   COLORS
   ============================================== */


/* ==============================================
   GLOBAL STYLES
   ============================================== */

   .row>div {
    /* border: solid 1px green; */
    /* display: flex; */
 }
 

 body, html {
     font-family: 'Roboto', sans-serif;
     
 }

h1, h3, .btn, .footer {
    font-family: 'Bungee', cursive;
}

h1 {
    color: #F5EBDF;
}

h2 {
    font-family: 'Bungee Inline', cursive;
}


/* ==============================================
   ABOVE THE FOLD
   ============================================== */

#top{
    background-color: #141414;
    height: 95vh;
   }

.logo {
    max-width: 100%;
}

.navbar{
    padding-left: 0;
}

.navbar-light .navbar-brand {
    text-transform: uppercase;
    padding:0;
    font-size: 1rem;
}

.jumbotron{
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.standardpadding{
    padding: 96px 0 0 0;
}

.standardpadding>p{
    font-size: 1rem;
    color: #F5EBDF;
}

.lead {
    margin-top: 24px;
    margin-bottom: 0;
}

/* ==============================================
   MOVIES GLOBAL
   ============================================== */

.movie1-desktop, .movie2-desktop, .movie3-desktop, .movie4-desktop, .movie5-desktop {
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.movie1-desktop {
    background-image: url("../images/o-bladerunner3.jpg");
    
}

.movie2-desktop {
    background-image: url("../images/o-assassination-of-Jesse-James.jpg");
    
}

.movie3-desktop {
    background-image: url("../images/o-godfather.jpg");
    
}

.movie4-desktop {
    background-image: url("../images/o-dunkirk.jpg");
    
}

.movie5-desktop {
    background-image: url("../images/o-fargo2.jpg");
    
}

.d-md-none {
    background-color: #F5EBDF;
}

/* ==============================================
   MOVIES ARTICLE
   ============================================== */

article {
    background-color: #F5EBDF;
    padding: 24px;
    box-sizing: border-box;
}

.article-desktop{
    border-radius: 8px;
    padding-bottom: 24px;
    margin-top: 37vh;
    max-height: 100%;
}

.article-mobile{
    padding-bottom: 6px;
}

/* ==============================================
   MOVIES BUTTON
   ============================================== */

.btn{
    color: #F5EBDF;
    background-color: #C43E22;
    border: 0;
    min-width: 50%;
    padding: 2%;
    font-size:1.25rem;
}

.btn-mobile{
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
}

.btn-right{
    position: absolute;
    right: 5%;
}

.btn-desktop{
    position: absolute;
    bottom: -5%;
    border-radius: 8px;
}

.btn:hover, .btn:active{
    background-color:rgb(129, 41, 23);
}


/* ==============================================
   FOOTER STYLES
   ============================================== */

.copyright-desktop {
    padding-top: 12px;
    padding-top: 12px;
    color: #F5EBDF;
    text-align: center;
}

.copyright-desktop>p {
    vertical-align: middle;
}   

.footer{
    background-color: #141414;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 0.65rem;
}

.artevelde{
    height: 1rem;
    margin-right: 12px;
}
 

 
 /* MEDIA QUERIES
 *********************************************/
 
 
 /* Extra small devices (portrait phones, less than 576px)
 / No media query since this is the default in Bootstrap*/
 
 @media (max-width: 575px) {
    body, html {
        font-size: 14px;
    }
    
    h1 {
        text-transform: uppercase;
        font-size: 2.25rem;
    }
    
    h2 {
        font-size: 2rem;
        line-height: 2.25rem;
        margin-bottom: 1.5rem;
    }
    
    h3 {font-size: 1.25rem;
    }
 }



 /* Small devices (landscape phones, 576px and up)*/
 
 @media (min-width: 576px) {
    .abovefold {
        background-color: #141414;
    }

    body, html {
        font-size: 16px;  
    }

    h1 {
        text-transform: uppercase;
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.25rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
    }
    
    h3 {font-size: 1.5rem;
    }

 }
 
 
 /* Medium devices (tablets, 768px and up)*/
 
 @media (min-width: 768px) {
    .abovefold {
        background-color: #141414;
        background-image: url("../images/blockbooster_star.png");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        height: 95vh;
    }

}
 
 
 /* Large devices (desktops, 992px and up)*/
 
 @media (min-width: 992px) {}
 
 
 /* Extra large devices (large desktops, 1200px and up)*/
 
 @media (min-width: 1200px) {}